In [2]:
import pandas as pd

data={
    "players": ["kohli", "dhoni", "rohit", "rahul"],
    "teams": ["RCB", "CSK", "MI", "DC"],
    "role": ["openar", "finisher", "opener", "opener"],
    "jearsey": [18, 7, 45, 1]
}

df= pd.DataFrame(data)
df

  players teams      role  jearsey
0   kohli   RCB    openar       18
1   dhoni   CSK  finisher        7
2   rohit    MI    opener       45
3   rahul    DC    opener        1

In [13]:
kohli_data = df[df['players'] == 'kohli']
kohli_data

  players teams    role  jearsey
0   kohli   RCB  openar       18

<p>loc accessor in pandas is used to access a group of rows and columns by labels or a boolean array.</p>

In [14]:
kohli_team = df.loc[df['players'] == 'kohli', ['players', 'teams']] 
kohli_team

  players teams
0   kohli   RCB

df['players'] == 'kohli': This creates a boolean series where each row is checked if the players column equals 'kohli'.

df.loc[df['players'] == 'kohli', ['players', 'teams']]: The .loc accessor uses this boolean series to filter rows where the condition is True. It then selects the specified columns, which are 'players' and 'teams'.

In [15]:
player_team = df[['players', 'teams']]
player_team

  players teams
0   kohli   RCB
1   dhoni   CSK
2   rohit    MI
3   rahul    DC

In [2]:
import pandas as pd

disease_data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ["John Doe", "Jane Smith", "Michael Brown", "Sara White", "David Lee", "Emily Clark", "Chris Turner", "Nancy Wright", "Andrew Hill", "Jessica Green"],
    'age': [34, 28, 45, 50, 36, 29, 41, 33, 47, 39],
    'gender': ["M", "F", "M", "F", "M", "F", "M", "F", "M", "F"],
    'disease': ["Diabetes", "Hypertension", "Asthma", "COPD", "Arthritis", "Heart Disease", "Stroke", "Cancer", "Obesity", "Kidney Disease"],
    'severity': ["Moderate", "Mild", "Severe", "Moderate", "Mild", "Severe", "Moderate", "Mild", "Severe", "Moderate"],
    'treatment_plan': ["Insulin", "Lifestyle Change", "Inhaler", "Medication", "Physical Therapy", "Surgery", "Rehabilitation", "Chemotherapy", "Diet Plan", "Dialysis"],
    'doctor_assigned': ["Dr. Patel", "Dr. Johnson", "Dr. Smith", "Dr. Gupta", "Dr. Brown", "Dr. Clark", "Dr. Lee", "Dr. Turner", "Dr. Wright", "Dr. Green"],
    'admission_date': ["2023-01-15", "2023-02-20", "2023-03-10", "2023-04-05", "2023-05-18", "2023-06-22", "2023-07-30", "2023-08-14", "2023-09-25", "2023-10-31"],
    'discharge_date': ["2023-01-25", "2023-02-28", "2023-03-20", "2023-04-12", "2023-05-25", "2023-06-30", "2023-08-05", "2023-08-24", "2023-10-05", "2023-11-10"]
}

disease_df = pd.DataFrame(disease_data)
disease_df

,id,name,age,gender,disease,severity,treatment_plan,doctor_assigned,admission_date,discharge_date
0,1,John Doe,34,M,Diabetes,Moderate,Insulin,Dr. Patel,2023-01-15,2023-01-25
1,2,Jane Smith,28,F,Hypertension,Mild,Lifestyle Change,Dr. Johnson,2023-02-20,2023-02-28
2,3,Michael Brown,45,M,Asthma,Severe,Inhaler,Dr. Smith,2023-03-10,2023-03-20
3,4,Sara White,50,F,COPD,Moderate,Medication,Dr. Gupta,2023-04-05,2023-04-12
4,5,David Lee,36,M,Arthritis,Mild,Physical Therapy,Dr. Brown,2023-05-18,2023-05-25
5,6,Emily Clark,29,F,Heart Disease,Severe,Surgery,Dr. Clark,2023-06-22,2023-06-30
6,7,Chris Turner,41,M,Stroke,Moderate,Rehabilitation,Dr. Lee,2023-07-30,2023-08-05
7,8,Nancy Wright,33,F,Cancer,Mild,Chemotherapy,Dr. Turner,2023-08-14,2023-08-24
8,9,Andrew Hill,47,M,Obesity,Severe,Diet Plan,Dr. Wright,2023-09-25,2023-10-05
9,10,Jessica Green,39,F,Kidney Disease,Moderate,Dialysis,Dr. Green,2023-10-31,2023-11-10