In [4]:
import pandas as pd

data={
    "players": ["kohli", "dhoni", "rohit", "rahul"],
    "teams": ["RCB", "CSK", "MI", "DC"],
    "role": ["openar", "finisher", "opener", "opener"],
    "jearsey": [18, 7, 45, 1]
}

df= pd.DataFrame(data)
df

  players teams      role  jearsey
0   kohli   RCB    openar       18
1   dhoni   CSK  finisher        7
2   rohit    MI    opener       45
3   rahul    DC    opener        1

In [ ]:
kohli_data = df[df['players'] == 'kohli']
kohli_data

  players teams    role  jearsey
0   kohli   RCB  openar       18