In [2]:
import pandas as pd

data={
    "players": ["kohli", "dhoni", "rohit", "rahul"],
    "teams": ["RCB", "CSK", "MI", "DC"],
    "role": ["openar", "finisher", "opener", "opener"],
    "jearsey": [18, 7, 45, 1]
}

df= pd.DataFrame(data)
df

  players teams      role  jearsey
0   kohli   RCB    openar       18
1   dhoni   CSK  finisher        7
2   rohit    MI    opener       45
3   rahul    DC    opener        1

In [13]:
kohli_data = df[df['players'] == 'kohli']
kohli_data

  players teams    role  jearsey
0   kohli   RCB  openar       18

<p>loc accessor in pandas is used to access a group of rows and columns by labels or a boolean array.</p>

In [14]:
kohli_team = df.loc[df['players'] == 'kohli', ['players', 'teams']] 
kohli_team

  players teams
0   kohli   RCB

df['players'] == 'kohli': This creates a boolean series where each row is checked if the players column equals 'kohli'.

df.loc[df['players'] == 'kohli', ['players', 'teams']]: The .loc accessor uses this boolean series to filter rows where the condition is True. It then selects the specified columns, which are 'players' and 'teams'.

In [15]:
player_team = df[['players', 'teams']]
player_team

  players teams
0   kohli   RCB
1   dhoni   CSK
2   rohit    MI
3   rahul    DC